{% include "page_start.html" %}


<section>
    <button class="btn btn-primary">Nuevo Producto</button>
    <button class="btn btn-primary">Eliminar producto(s)</button>
</section>

<section id="product_list">
    Buscar producto:
    <input id="filter_product_list" type="text"
        class="form-control form-control-lg border-primary">

    <table class="table table-sm table-primary table-striped">
        <thead>
            <tr>
                {% for column in ('Producto', 'Precio', 'Existencia', 'Modificar', 'Eliminar') %}
                    <th>{{ column }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for variant, fvariant in zip(query, formatted_variants) %}
                <tr>
                    <td>{{ fvariant }}</td>
                    <td>{{ variant.price|round(2) }}</td>

                    <!-- Color button based on existence instead of just
                        printing -->
                    {% if variant.existence_id == existence['plenty'] %}
                        {% set btn_class = 'btn-success' %}
                        {% set btn_msg = 'Suficiente' %}
                    {% elif variant.existence_id == existence['scarce'] %}
                        {% set btn_class = 'btn-warning' %}
                        {% set btn_msg = 'Escaso' %}
                    {% elif variant.existence_id == existence['depleted'] %}
                        {% set btn_class = 'btn-danger' %}
                        {% set btn_msg = 'Agotado' %}
                    {% endif %}
                    <td>
                        <button type="button"
                                value="{{ variant.id }}"
                                class="btn {{ btn_class }} row-button
                                button-existence">
                            {{ btn_msg }}
                        </button>
                    </td>

                    <td>
                        <button type="button"
                                class="row-button btn btn-primary">
                            Mod
                        </button>
                    </td>
                    <td>
                        <button type="button"
                                class="row-button btn btn-danger">
                            Elim
                        </button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</section>

{% include "page_end.html" %}
